<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <img onmouseover="ver()" width="280" onmouseleave="noVer()" src="../../assets/pokemon/superior.png" alt="">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" onmouseover="ver()" onmouseleave="noVer()">
      <h1 id="pokeball2" class="hidden text-center" style="color: white;">Bienvenido!</h1>
      <img  id="pokeball"  width="280" class="hidden" src="../../assets/pokemon/Pikachu.png" alt="">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8" >
      <img onmouseover="ver()" onmouseleave="noVer()" width="280" src="../../assets/pokemon/inferior.png"alt="">
    </div>
  </div>
</div>
